* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   /* height: 100vh; */
   background-color: hsl(185, 41%, 84%);
   display: flex;
   /* flex-wrap: wrap; */
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: "Space Mono", monospace;
}

main {
   background-color: hsl(0, 0%, 100%);
   padding: 30px;
   border-radius: 20px 20px 0 0;
}
.logo {
   text-align: center;
   margin: 40px 0;
}

.billPeople {
   display: flex;
   flex-direction: column;
   gap: 25px;
   margin-bottom: 35px;
}

.bill {
   display: flex;
   flex-wrap: wrap;
}

label {
   color: hsl(186, 14%, 43%);
   font-size: 1rem;
   margin-bottom: 10px;
}

input {
   width: 100%;
   padding: 10px;
   text-align: right;
   background-repeat: no-repeat;
   background-position: 15px center;
   background-color: hsl(189, 41%, 97%);
   outline: none;
   border: none;
   color: hsl(183, 100%, 15%);
   font-size: 24px;
   border-radius: 8px;
   font-weight: 700;
   font-family: "Space Mono", monospace;
}

.bill input {
   background-image: url("/images/icon-dollar.svg");
}

.bill input[type="number"] ::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.bill input[type="number"] {
   -moz-appearance: textfield;
}

.tips {
   display: flex;
   flex-direction: column;
}

.tip-grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
   font-size: 24px;
   font-weight: 700;
}

.tip {
   background-color: hsl(183, 100%, 15%);
   color: #fff;
   text-align: center;
   padding: 10px 0;
   border-radius: 5px;
   cursor: pointer;
   transition: scale 350ms ease-in-out;
}

.tip:hover {
   scale: 0.95;
}

.active-tip {
   color: hsl(183, 100%, 15%);
   background-color: hsl(172, 67%, 45%);
}

.people input {
   background-image: url("/images/icon-person.svg");
}

.zero {
   display: flex;
   justify-content: space-between;
}

.error {
   color: red;
   display: none;
}

.tip-result {
   display: flex;
   flex-direction: column;
   background-color: hsl(183, 100%, 15%);
   padding: 30px;
   border-radius: 8px;
}

.result {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.tip-amount {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.tiptot {
   color: #fff;
   font-size: 18px;
   margin-bottom: 5px;
}

.person {
   color: hsl(184, 14%, 56%);
}

.answer {
   color: hsl(172, 67%, 45%);
   font-size: 30px;
   font-weight: 700;
}

.reset {
   color: hsl(183, 100%, 15%);
   background-color: hsl(172, 67%, 45%);
   font-size: 20px;
   margin-top: 10px;
   padding: 10px 0;
   border-radius: 5px;
   border: none;
   text-transform: uppercase;
   font-weight: 700;
   cursor: pointer;
   transition: scale 350ms ease-in-out;
   text-align: center;
}

.reset:hover {
   scale: 0.95;
}

@media screen and (min-width: 796px) {
   body {
      height: 100vh;
   }
   main {
      display: flex;
      justify-content: center;
      /* align-items: center; */
      flex-direction: row;
      gap: 50px;
      padding-left: 50px;
      border-radius: 20px;
   }

   .billPeople {
      width: 100%;
      gap: 35px;
   }

   .tip-result {
      width: 100%;
      display: flex;
      justify-content: space-between;
   }

   .result {
      margin-top: 20px;
      gap: 35px;
   }

   .answer {
      font-size: 40px;
   }
}
